.App {
  text-align: center;
}

@font-face {
  font-family: 'Bon Vivant Family Serif';
  src: local('Bon Vivant Family Serif'), local('BonVivantSerif'),
  url('./fonts/BonVivantSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bon Vivant Family Serif';
  src: local('Bon Vivant Family Serif Bold'), local('BonVivantSerifBold'),
  url('./fonts/BonVivantSerifBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bon Vivant Family Script';
  src: url('./fonts/BonVivant-Regular.ttf');
  src: local('Bon Vivant Family Script'), local('BonVivant-Regular'),
  url('./fonts/BonVivant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: black;
}

.login {
  height: 100%;
}

.loginbackground-image {
  width: 100%;
  height: 100%;
}
