@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'Bon Vivant Family Serif';
  src: local('Bon Vivant Family Serif'), local('BonVivantSerif'),
  url('./fonts/BonVivantSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bon Vivant Family Serif';
  src: local('Bon Vivant Family Serif Bold'), local('BonVivantSerifBold'),
  url('./fonts/BonVivantSerifBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bon Vivant Family Script';
  src: url('./fonts/BonVivant-Regular.ttf');
  src: local('Bon Vivant Family Script'), local('BonVivant-Regular'),
  url('./fonts/BonVivant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

body, html, #root,.App, .login, .signup, .login-wrapper,.welcome-wrapper{
  height: 100%;
  width: 100%;
}

.login, .signup {
  display: flex;
  flex-direction: row;
}


.split-left{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.split-right{
  width: 60%;
  height: 100%;
}

login-background-container {
  width: 100%;
  height: 100%;
}

.login-content{
  width: 380px;
  display: flex;
  flex-direction: column;
}

.login-title{
  width: 100%;
  text-align: center;
}

.title-hand{
  font-family: 'Bon Vivant Family Script';
  font-size: 60px;
  line-height: 27px;
  color: #FF6D55;

}

.title-serif{
  font-family: 'Bon Vivant Family Serif';
  font-size: 60px;
  line-height: 59px;
  color: black;
  font-weight: bold;
}

.login-google-button{
  width: 100%;
  height: 45px;
  border: 2px solid #E8E8E8;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 75px;
}

.login-google-button > div{
  font-family: 'Open Sans';
  font-weight: 600;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.login-google-button > div > img{
  margin-right: 14px;
}

.separator-email{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.separator-dash{
  height: 2px;
  background-color: #E8E8E8;
  flex-grow: 1;
}

.separator-text{
  font-family: 'Open Sans';
  font-weight: 600;
  color: #CBCBCB;
  justify-content: space-evenly;
  padding: 0 17px;
  font-size: 12px;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align:start;
}

.input-wrapper > label{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  color: black;
  margin-top: 18px;
  margin-bottom: 4px;
  font-size: 13px;
}

.input-wrapper > input{
    outline: none;
    border: 2px solid #E8E8E8;
    border-radius: 8px;
    padding: 15px;
}

.input-wrapper > input:focus {
  border: 2px solid #FF6D55;
}

#mdpText{
  letter-spacing: 2px;
}

.login-bottom-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 13px;
}

.remember-check{
  font-family: 'Open Sans';
  font-weight: 600;
  color: black;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
}

.remember-check > img{
  margin-right: 6px;
}

.mdp-forgot{
  font-size: 13px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #FF6D55;
  cursor: pointer;
}

.orange-btn{
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF6D55;
  color: white;
  border-radius: 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  margin-top: 40px;
  cursor: pointer;
}

.orange-btn:hover{
  background-color: #db5640;
}

.login-bottom-options > div {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 13px;
  color: black;
  text-align: center;
}

.login-bottom-options > div > a{
  color: #FF6D55;
  cursor: pointer;
}

.signup-bottom-options > div > a{
  color: #FF6D55;
  cursor: pointer;
}

.signup-bottom-options > div{
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 13px;
  color: black;
  text-align: center;
}

.signup-bottom-options{
  width: 100%;
  margin-top: 10px;
}

.ask-register{
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 13px;
  color: black;
  text-align: center;
    margin-top: 20px;

}

.ask-register > a{
  color: #FF6D55;
  cursor: pointer;
}

.logo-footer-login{
  height: 25px;
  position: absolute;
  bottom: 45px;
}

.login-background-container{
  height: 100%;
  width: 100%;
  background-image: url(images/loginbackground.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signup-background-container{
  height: 100%;
  width: 100%;
  background-image: url(images/backgroundsignup.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mdp-forgot{
  color: #FF6D55!important;
  cursor: pointer;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.welcome-wrapper{
  display: flex;
}

.left-menu{
  background-color: #FF6D55;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

.left-menu-logo{
  width: 145px;
  margin: 50px 0 50px 0;
}

.left-menu-item{
  background-color: #DF614C;
  color: white;
  width: 85%;
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.left-menu-item.selected{
  background-color: #F9A294;
}

.left-menu-item-icon{
  width: 20px;
  margin-right: 10px;
}

.disconnection-btn{
  color: white;
  font-weight: 500;
  justify-self: flex-end;
}

.profile-image{
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

@media only screen and (max-width : 1224px){
  .split-left {
    width: 100%;
  }

  .split-right{
    display: none;
  }
}

@media only screen and (max-width : 450px) {
  .login-content{
    padding: 30px;
  }
  .logo-footer-login{
    bottom: 20px;
  }
  .login-google-button{
    margin-top: 27px;
  }

  .title-hand, .title-serif{
    font-size: 45px;
  }
  }

  @media only screen and (max-height : 800px) {
    .login-google-button {
      margin-top: 20px;
    }

    .input-wrapper > label, .separator-email,.orange-btn {
      margin-top: 10px;
    }

    .logo-footer-login {
      bottom: 15px;
    }
  }


  /*------------- Splash screen ---------------*/

  .splash-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.loading{
  animation: rotation 1s infinite linear;
  margin-top: 40px;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}